.flag32 {
    background-image: url('/assets/img/flags32.png');
    background-repeat: no-repeat;
    display: block;
	width: 32px;
    height: 32px;
	background-position: -128px -480px;
}
.flag32.flag-AC {background-position: 0 0;}
.flag32.flag-AD {background-position: -32px 0;}
.flag32.flag-AE {background-position: -64px 0;}
.flag32.flag-AF {background-position: -96px 0;}
.flag32.flag-AG {background-position: -128px 0;}
.flag32.flag-AI {background-position: -160px 0;}
.flag32.flag-AL {background-position: -192px 0;}
.flag32.flag-AM {background-position: -224px 0;}
.flag32.flag-AO {background-position: -256px 0;}
.flag32.flag-AQ {background-position: -288px 0;}
.flag32.flag-AR {background-position: -320px 0;}
.flag32.flag-AS {background-position: -352px 0;}
.flag32.flag-AT {background-position: -384px 0;}
.flag32.flag-AU {background-position: -416px 0;}
.flag32.flag-AW {background-position: -448px 0;}
.flag32.flag-AZ {background-position: 0 -32px;}
.flag32.flag-BA {background-position: -32px -32px;}
.flag32.flag-BB {background-position: -64px -32px;}
.flag32.flag-BD {background-position: -96px -32px;}
.flag32.flag-BE {background-position: -128px -32px;}
.flag32.flag-BF {background-position: -160px -32px;}
.flag32.flag-BG {background-position: -192px -32px;}
.flag32.flag-BH {background-position: -224px -32px;}
.flag32.flag-BI {background-position: -256px -32px;}
.flag32.flag-BJ {background-position: -288px -32px;}
.flag32.flag-BL {background-position: -320px -32px;}
.flag32.flag-BM {background-position: -352px -32px;}
.flag32.flag-BN {background-position: -384px -32px;}
.flag32.flag-BO {background-position: -416px -32px;}
.flag32.flag-BQ {background-position: -448px -32px;}
.flag32.flag-BR {background-position: 0 -64px;}
.flag32.flag-BS {background-position: -32px -64px;}
.flag32.flag-BT {background-position: -64px -64px;}
.flag32.flag-BW {background-position: -96px -64px;}
.flag32.flag-BY {background-position: -128px -64px;}
.flag32.flag-BZ {background-position: -160px -64px;}
.flag32.flag-CA {background-position: -192px -64px;}
.flag32.flag-CC {background-position: -224px -64px;}
.flag32.flag-CD {background-position: -256px -64px;}
.flag32.flag-CF {background-position: -288px -64px;}
.flag32.flag-CG {background-position: -320px -64px;}
.flag32.flag-CH {background-position: -352px -64px;}
.flag32.flag-CI {background-position: -384px -64px;}
.flag32.flag-CK {background-position: -416px -64px;}
.flag32.flag-CL {background-position: -448px -64px;}
.flag32.flag-CM {background-position: 0 -96px;}
.flag32.flag-CN {background-position: -32px -96px;}
.flag32.flag-CO {background-position: -64px -96px;}
.flag32.flag-CR {background-position: -96px -96px;}
.flag32.flag-CU {background-position: -128px -96px;}
.flag32.flag-CV {background-position: -160px -96px;}
.flag32.flag-CW {background-position: -192px -96px;}
.flag32.flag-CX {background-position: -224px -96px;}
.flag32.flag-CY {background-position: -256px -96px;}
.flag32.flag-CZ {background-position: -288px -96px;}
.flag32.flag-DE {background-position: -320px -96px;}
.flag32.flag-DJ {background-position: -352px -96px;}
.flag32.flag-DK {background-position: -384px -96px;}
.flag32.flag-DM {background-position: -416px -96px;}
.flag32.flag-DO {background-position: -448px -96px;}
.flag32.flag-DZ {background-position: 0 -128px;}
.flag32.flag-EC {background-position: -32px -128px;}
.flag32.flag-EE {background-position: -64px -128px;}
.flag32.flag-EG {background-position: -96px -128px;}
.flag32.flag-EH {background-position: -128px -128px;}
.flag32.flag-ER {background-position: -160px -128px;}
.flag32.flag-ES {background-position: -192px -128px;}
.flag32.flag-ET {background-position: -224px -128px;}
.flag32.flag-FI {background-position: -256px -128px;}
.flag32.flag-FJ {background-position: -288px -128px;}
.flag32.flag-FK {background-position: -320px -128px;}
.flag32.flag-FM {background-position: -352px -128px;}
.flag32.flag-FO {background-position: -384px -128px;}
.flag32.flag-FR {background-position: -416px -128px;}
.flag32.flag-GA {background-position: -448px -128px;}
.flag32.flag-GB {background-position: 0 -160px;}
.flag32.flag-GD {background-position: -32px -160px;}
.flag32.flag-GE {background-position: -64px -160px;}
.flag32.flag-GF {background-position: -96px -160px;}
.flag32.flag-GG {background-position: -128px -160px;}
.flag32.flag-GH {background-position: -160px -160px;}
.flag32.flag-GI {background-position: -192px -160px;}
.flag32.flag-GL {background-position: -224px -160px;}
.flag32.flag-GM {background-position: -256px -160px;}
.flag32.flag-GN {background-position: -288px -160px;}
.flag32.flag-GP {background-position: -320px -160px;}
.flag32.flag-GQ {background-position: -352px -160px;}
.flag32.flag-GR {background-position: -384px -160px;}
.flag32.flag-GT {background-position: -416px -160px;}
.flag32.flag-GU {background-position: -448px -160px;}
.flag32.flag-GW {background-position: 0 -192px;}
.flag32.flag-GY {background-position: -32px -192px;}
.flag32.flag-HK {background-position: -64px -192px;}
.flag32.flag-HN {background-position: -96px -192px;}
.flag32.flag-HR {background-position: -128px -192px;}
.flag32.flag-HT {background-position: -160px -192px;}
.flag32.flag-HU {background-position: -192px -192px;}
.flag32.flag-ID {background-position: -224px -192px;}
.flag32.flag-IE {background-position: -256px -192px;}
.flag32.flag-IL {background-position: -288px -192px;}
.flag32.flag-IM {background-position: -320px -192px;}
.flag32.flag-IN {background-position: -352px -192px;}
.flag32.flag-IO {background-position: -384px -192px;}
.flag32.flag-IQ {background-position: -416px -192px;}
.flag32.flag-IR {background-position: -448px -192px;}
.flag32.flag-IS {background-position: 0 -224px;}
.flag32.flag-IT {background-position: -32px -224px;}
.flag32.flag-JE {background-position: -64px -224px;}
.flag32.flag-JM {background-position: -96px -224px;}
.flag32.flag-JO {background-position: -128px -224px;}
.flag32.flag-JP {background-position: -160px -224px;}
.flag32.flag-KE {background-position: -192px -224px;}
.flag32.flag-KG {background-position: -224px -224px;}
.flag32.flag-KH {background-position: -256px -224px;}
.flag32.flag-KI {background-position: -288px -224px;}
.flag32.flag-KM {background-position: -320px -224px;}
.flag32.flag-KN {background-position: -352px -224px;}
.flag32.flag-KP {background-position: -384px -224px;}
.flag32.flag-KR {background-position: -416px -224px;}
.flag32.flag-KW {background-position: -448px -224px;}
.flag32.flag-KY {background-position: 0 -256px;}
.flag32.flag-KZ {background-position: -32px -256px;}
.flag32.flag-LA {background-position: -64px -256px;}
.flag32.flag-LB {background-position: -96px -256px;}
.flag32.flag-LC {background-position: -128px -256px;}
.flag32.flag-LI {background-position: -160px -256px;}
.flag32.flag-LK {background-position: -192px -256px;}
.flag32.flag-LR {background-position: -224px -256px;}
.flag32.flag-LS {background-position: -256px -256px;}
.flag32.flag-LT {background-position: -288px -256px;}
.flag32.flag-LU {background-position: -320px -256px;}
.flag32.flag-LV {background-position: -352px -256px;}
.flag32.flag-LY {background-position: -384px -256px;}
.flag32.flag-MA {background-position: -416px -256px;}
.flag32.flag-MC {background-position: -448px -256px;}
.flag32.flag-MD {background-position: 0 -288px;}
.flag32.flag-ME {background-position: -32px -288px;}
.flag32.flag-MF {background-position: -64px -288px;}
.flag32.flag-MG {background-position: -96px -288px;}
.flag32.flag-MH {background-position: -128px -288px;}
.flag32.flag-MK {background-position: -160px -288px;}
.flag32.flag-ML {background-position: -192px -288px;}
.flag32.flag-MM {background-position: -224px -288px;}
.flag32.flag-MN {background-position: -256px -288px;}
.flag32.flag-MO {background-position: -288px -288px;}
.flag32.flag-MP {background-position: -320px -288px;}
.flag32.flag-MQ {background-position: -352px -288px;}
.flag32.flag-MR {background-position: -384px -288px;}
.flag32.flag-MS {background-position: -416px -288px;}
.flag32.flag-MT {background-position: -448px -288px;}
.flag32.flag-MU {background-position: 0 -320px;}
.flag32.flag-MV {background-position: -32px -320px;}
.flag32.flag-MW {background-position: -64px -320px;}
.flag32.flag-MX {background-position: -96px -320px;}
.flag32.flag-MY {background-position: -128px -320px;}
.flag32.flag-MZ {background-position: -160px -320px;}
.flag32.flag-NA {background-position: -192px -320px;}
.flag32.flag-NC {background-position: -224px -320px;}
.flag32.flag-NE {background-position: -256px -320px;}
.flag32.flag-NG {background-position: -288px -320px;}
.flag32.flag-NI {background-position: -320px -320px;}
.flag32.flag-NL {background-position: -352px -320px;}
.flag32.flag-NO {background-position: -384px -320px;}
.flag32.flag-NP {background-position: -416px -320px;}
.flag32.flag-NR {background-position: -448px -320px;}
.flag32.flag-NU {background-position: 0 -352px;}
.flag32.flag-NZ {background-position: -32px -352px;}
.flag32.flag-OM {background-position: -64px -352px;}
.flag32.flag-PA {background-position: -96px -352px;}
.flag32.flag-PE {background-position: -128px -352px;}
.flag32.flag-PF {background-position: -160px -352px;}
.flag32.flag-PG {background-position: -192px -352px;}
.flag32.flag-PH {background-position: -224px -352px;}
.flag32.flag-PK {background-position: -256px -352px;}
.flag32.flag-PL {background-position: -288px -352px;}
.flag32.flag-PM {background-position: -320px -352px;}
.flag32.flag-PN {background-position: -352px -352px;}
.flag32.flag-PR {background-position: -384px -352px;}
.flag32.flag-PS {background-position: -416px -352px;}
.flag32.flag-PT {background-position: -448px -352px;}
.flag32.flag-PW {background-position: 0 -384px;}
.flag32.flag-PY {background-position: -32px -384px;}
.flag32.flag-QA {background-position: -64px -384px;}
.flag32.flag-RE {background-position: -96px -384px;}
.flag32.flag-RO {background-position: -128px -384px;}
.flag32.flag-RS {background-position: -160px -384px;}
.flag32.flag-RU {background-position: -192px -384px;}
.flag32.flag-RW {background-position: -224px -384px;}
.flag32.flag-SA {background-position: -256px -384px;}
.flag32.flag-SB {background-position: -288px -384px;}
.flag32.flag-SC {background-position: -320px -384px;}
.flag32.flag-SD {background-position: -352px -384px;}
.flag32.flag-SE {background-position: -384px -384px;}
.flag32.flag-SG {background-position: -416px -384px;}
.flag32.flag-SH {background-position: -448px -384px;}
.flag32.flag-SI {background-position: 0 -416px;}
.flag32.flag-SJ {background-position: -32px -416px;}
.flag32.flag-SK {background-position: -64px -416px;}
.flag32.flag-SL {background-position: -96px -416px;}
.flag32.flag-SM {background-position: -128px -416px;}
.flag32.flag-SN {background-position: -160px -416px;}
.flag32.flag-SO {background-position: -192px -416px;}
.flag32.flag-SR {background-position: -224px -416px;}
.flag32.flag-SS {background-position: -256px -416px;}
.flag32.flag-ST {background-position: -288px -416px;}
.flag32.flag-SV {background-position: -320px -416px;}
.flag32.flag-SX {background-position: -352px -416px;}
.flag32.flag-SY {background-position: -384px -416px;}
.flag32.flag-SZ {background-position: -416px -416px;}
.flag32.flag-TC {background-position: -448px -416px;}
.flag32.flag-TD {background-position: 0 -448px;}
.flag32.flag-TG {background-position: -32px -448px;}
.flag32.flag-TH {background-position: -64px -448px;}
.flag32.flag-TJ {background-position: -96px -448px;}
.flag32.flag-TK {background-position: -128px -448px;}
.flag32.flag-TL {background-position: -160px -448px;}
.flag32.flag-TM {background-position: -192px -448px;}
.flag32.flag-TN {background-position: -224px -448px;}
.flag32.flag-TO {background-position: -256px -448px;}
.flag32.flag-TR {background-position: -288px -448px;}
.flag32.flag-TT {background-position: -320px -448px;}
.flag32.flag-TV {background-position: -352px -448px;}
.flag32.flag-TW {background-position: -384px -448px;}
.flag32.flag-TZ {background-position: -416px -448px;}
.flag32.flag-UA {background-position: -448px -448px;}
.flag32.flag-UG {background-position: -480px 0;}
.flag32.flag-US {background-position: -480px -32px;}
.flag32.flag-UY {background-position: -480px -64px;}
.flag32.flag-UZ {background-position: -480px -96px;}
.flag32.flag-VA {background-position: -480px -128px;}
.flag32.flag-VC {background-position: -480px -160px;}
.flag32.flag-VE {background-position: -480px -192px;}
.flag32.flag-VG {background-position: -480px -224px;}
.flag32.flag-VI {background-position: -480px -256px;}
.flag32.flag-VN {background-position: -480px -288px;}
.flag32.flag-VU {background-position: -480px -320px;}
.flag32.flag-WF {background-position: -480px -352px;}
.flag32.flag-WS {background-position: -480px -384px;}
.flag32.flag-XK {background-position: -480px -416px;}
.flag32.flag-YE {background-position: -480px -448px;}
.flag32.flag-YT {background-position: 0 -480px;}
.flag32.flag-ZA {background-position: -32px -480px;}
.flag32.flag-ZM {background-position: -64px -480px;}
.flag32.flag-ZW {background-position: -96px -480px;}

.flag64 {
    background-image: url('/assets/img/flags64.png');
    background-repeat: no-repeat;
    display: block;
	width: 64px;
    height: 64px;
    background-position: -256px -960px;
}
.flag64.flag-AC {background-position: 0 0;}
.flag64.flag-AD {background-position: -64px 0;}
.flag64.flag-AE {background-position: -128px 0;}
.flag64.flag-AF {background-position: -192px 0;}
.flag64.flag-AG {background-position: -256px 0;}
.flag64.flag-AI {background-position: -320px 0;}
.flag64.flag-AL {background-position: -384px 0;}
.flag64.flag-AM {background-position: -448px 0;}
.flag64.flag-AO {background-position: -512px 0;}
.flag64.flag-AQ {background-position: -576px 0;}
.flag64.flag-AR {background-position: -640px 0;}
.flag64.flag-AS {background-position: -704px 0;}
.flag64.flag-AT {background-position: -768px 0;}
.flag64.flag-AU {background-position: -832px 0;}
.flag64.flag-AW {background-position: -896px 0;}
.flag64.flag-AZ {background-position: 0 -64px;}
.flag64.flag-BA {background-position: -64px -64px;}
.flag64.flag-BB {background-position: -128px -64px;}
.flag64.flag-BD {background-position: -192px -64px;}
.flag64.flag-BE {background-position: -256px -64px;}
.flag64.flag-BF {background-position: -320px -64px;}
.flag64.flag-BG {background-position: -384px -64px;}
.flag64.flag-BH {background-position: -448px -64px;}
.flag64.flag-BI {background-position: -512px -64px;}
.flag64.flag-BJ {background-position: -576px -64px;}
.flag64.flag-BL {background-position: -640px -64px;}
.flag64.flag-BM {background-position: -704px -64px;}
.flag64.flag-BN {background-position: -768px -64px;}
.flag64.flag-BO {background-position: -832px -64px;}
.flag64.flag-BQ {background-position: -896px -64px;}
.flag64.flag-BR {background-position: 0 -128px;}
.flag64.flag-BS {background-position: -64px -128px;}
.flag64.flag-BT {background-position: -128px -128px;}
.flag64.flag-BW {background-position: -192px -128px;}
.flag64.flag-BY {background-position: -256px -128px;}
.flag64.flag-BZ {background-position: -320px -128px;}
.flag64.flag-CA {background-position: -384px -128px;}
.flag64.flag-CC {background-position: -448px -128px;}
.flag64.flag-CD {background-position: -512px -128px;}
.flag64.flag-CF {background-position: -576px -128px;}
.flag64.flag-CG {background-position: -640px -128px;}
.flag64.flag-CH {background-position: -704px -128px;}
.flag64.flag-CI {background-position: -768px -128px;}
.flag64.flag-CK {background-position: -832px -128px;}
.flag64.flag-CL {background-position: -896px -128px;}
.flag64.flag-CM {background-position: 0 -192px;}
.flag64.flag-CN {background-position: -64px -192px;}
.flag64.flag-CO {background-position: -128px -192px;}
.flag64.flag-CR {background-position: -192px -192px;}
.flag64.flag-CU {background-position: -256px -192px;}
.flag64.flag-CV {background-position: -320px -192px;}
.flag64.flag-CW {background-position: -384px -192px;}
.flag64.flag-CX {background-position: -448px -192px;}
.flag64.flag-CY {background-position: -512px -192px;}
.flag64.flag-CZ {background-position: -576px -192px;}
.flag64.flag-DE {background-position: -640px -192px;}
.flag64.flag-DJ {background-position: -704px -192px;}
.flag64.flag-DK {background-position: -768px -192px;}
.flag64.flag-DM {background-position: -832px -192px;}
.flag64.flag-DO {background-position: -896px -192px;}
.flag64.flag-DZ {background-position: 0 -256px;}
.flag64.flag-EC {background-position: -64px -256px;}
.flag64.flag-EE {background-position: -128px -256px;}
.flag64.flag-EG {background-position: -192px -256px;}
.flag64.flag-EH {background-position: -256px -256px;}
.flag64.flag-ER {background-position: -320px -256px;}
.flag64.flag-ES {background-position: -384px -256px;}
.flag64.flag-ET {background-position: -448px -256px;}
.flag64.flag-FI {background-position: -512px -256px;}
.flag64.flag-FJ {background-position: -576px -256px;}
.flag64.flag-FK {background-position: -640px -256px;}
.flag64.flag-FM {background-position: -704px -256px;}
.flag64.flag-FO {background-position: -768px -256px;}
.flag64.flag-FR {background-position: -832px -256px;}
.flag64.flag-GA {background-position: -896px -256px;}
.flag64.flag-GB {background-position: 0 -320px;}
.flag64.flag-GD {background-position: -64px -320px;}
.flag64.flag-GE {background-position: -128px -320px;}
.flag64.flag-GF {background-position: -192px -320px;}
.flag64.flag-GG {background-position: -256px -320px;}
.flag64.flag-GH {background-position: -320px -320px;}
.flag64.flag-GI {background-position: -384px -320px;}
.flag64.flag-GL {background-position: -448px -320px;}
.flag64.flag-GM {background-position: -512px -320px;}
.flag64.flag-GN {background-position: -576px -320px;}
.flag64.flag-GP {background-position: -640px -320px;}
.flag64.flag-GQ {background-position: -704px -320px;}
.flag64.flag-GR {background-position: -768px -320px;}
.flag64.flag-GT {background-position: -832px -320px;}
.flag64.flag-GU {background-position: -896px -320px;}
.flag64.flag-GW {background-position: 0 -384px;}
.flag64.flag-GY {background-position: -64px -384px;}
.flag64.flag-HK {background-position: -128px -384px;}
.flag64.flag-HN {background-position: -192px -384px;}
.flag64.flag-HR {background-position: -256px -384px;}
.flag64.flag-HT {background-position: -320px -384px;}
.flag64.flag-HU {background-position: -384px -384px;}
.flag64.flag-ID {background-position: -448px -384px;}
.flag64.flag-IE {background-position: -512px -384px;}
.flag64.flag-IL {background-position: -576px -384px;}
.flag64.flag-IM {background-position: -640px -384px;}
.flag64.flag-IN {background-position: -704px -384px;}
.flag64.flag-IO {background-position: -768px -384px;}
.flag64.flag-IQ {background-position: -832px -384px;}
.flag64.flag-IR {background-position: -896px -384px;}
.flag64.flag-IS {background-position: 0 -448px;}
.flag64.flag-IT {background-position: -64px -448px;}
.flag64.flag-JE {background-position: -128px -448px;}
.flag64.flag-JM {background-position: -192px -448px;}
.flag64.flag-JO {background-position: -256px -448px;}
.flag64.flag-JP {background-position: -320px -448px;}
.flag64.flag-KE {background-position: -384px -448px;}
.flag64.flag-KG {background-position: -448px -448px;}
.flag64.flag-KH {background-position: -512px -448px;}
.flag64.flag-KI {background-position: -576px -448px;}
.flag64.flag-KM {background-position: -640px -448px;}
.flag64.flag-KN {background-position: -704px -448px;}
.flag64.flag-KP {background-position: -768px -448px;}
.flag64.flag-KR {background-position: -832px -448px;}
.flag64.flag-KW {background-position: -896px -448px;}
.flag64.flag-KY {background-position: 0 -512px;}
.flag64.flag-KZ {background-position: -64px -512px;}
.flag64.flag-LA {background-position: -128px -512px;}
.flag64.flag-LB {background-position: -192px -512px;}
.flag64.flag-LC {background-position: -256px -512px;}
.flag64.flag-LI {background-position: -320px -512px;}
.flag64.flag-LK {background-position: -384px -512px;}
.flag64.flag-LR {background-position: -448px -512px;}
.flag64.flag-LS {background-position: -512px -512px;}
.flag64.flag-LT {background-position: -576px -512px;}
.flag64.flag-LU {background-position: -640px -512px;}
.flag64.flag-LV {background-position: -704px -512px;}
.flag64.flag-LY {background-position: -768px -512px;}
.flag64.flag-MA {background-position: -832px -512px;}
.flag64.flag-MC {background-position: -896px -512px;}
.flag64.flag-MD {background-position: 0 -576px;}
.flag64.flag-ME {background-position: -64px -576px;}
.flag64.flag-MF {background-position: -128px -576px;}
.flag64.flag-MG {background-position: -192px -576px;}
.flag64.flag-MH {background-position: -256px -576px;}
.flag64.flag-MK {background-position: -320px -576px;}
.flag64.flag-ML {background-position: -384px -576px;}
.flag64.flag-MM {background-position: -448px -576px;}
.flag64.flag-MN {background-position: -512px -576px;}
.flag64.flag-MO {background-position: -576px -576px;}
.flag64.flag-MP {background-position: -640px -576px;}
.flag64.flag-MQ {background-position: -704px -576px;}
.flag64.flag-MR {background-position: -768px -576px;}
.flag64.flag-MS {background-position: -832px -576px;}
.flag64.flag-MT {background-position: -896px -576px;}
.flag64.flag-MU {background-position: 0 -640px;}
.flag64.flag-MV {background-position: -64px -640px;}
.flag64.flag-MW {background-position: -128px -640px;}
.flag64.flag-MX {background-position: -192px -640px;}
.flag64.flag-MY {background-position: -256px -640px;}
.flag64.flag-MZ {background-position: -320px -640px;}
.flag64.flag-NA {background-position: -384px -640px;}
.flag64.flag-NC {background-position: -448px -640px;}
.flag64.flag-NE {background-position: -512px -640px;}
.flag64.flag-NG {background-position: -576px -640px;}
.flag64.flag-NI {background-position: -640px -640px;}
.flag64.flag-NL {background-position: -704px -640px;}
.flag64.flag-NO {background-position: -768px -640px;}
.flag64.flag-NP {background-position: -832px -640px;}
.flag64.flag-NR {background-position: -896px -640px;}
.flag64.flag-NU {background-position: 0 -704px;}
.flag64.flag-NZ {background-position: -64px -704px;}
.flag64.flag-OM {background-position: -128px -704px;}
.flag64.flag-PA {background-position: -192px -704px;}
.flag64.flag-PE {background-position: -256px -704px;}
.flag64.flag-PF {background-position: -320px -704px;}
.flag64.flag-PG {background-position: -384px -704px;}
.flag64.flag-PH {background-position: -448px -704px;}
.flag64.flag-PK {background-position: -512px -704px;}
.flag64.flag-PL {background-position: -576px -704px;}
.flag64.flag-PM {background-position: -640px -704px;}
.flag64.flag-PN {background-position: -704px -704px;}
.flag64.flag-PR {background-position: -768px -704px;}
.flag64.flag-PS {background-position: -832px -704px;}
.flag64.flag-PT {background-position: -896px -704px;}
.flag64.flag-PW {background-position: 0 -768px;}
.flag64.flag-PY {background-position: -64px -768px;}
.flag64.flag-QA {background-position: -128px -768px;}
.flag64.flag-RE {background-position: -192px -768px;}
.flag64.flag-RO {background-position: -256px -768px;}
.flag64.flag-RS {background-position: -320px -768px;}
.flag64.flag-RU {background-position: -384px -768px;}
.flag64.flag-RW {background-position: -448px -768px;}
.flag64.flag-SA {background-position: -512px -768px;}
.flag64.flag-SB {background-position: -576px -768px;}
.flag64.flag-SC {background-position: -640px -768px;}
.flag64.flag-SD {background-position: -704px -768px;}
.flag64.flag-SE {background-position: -768px -768px;}
.flag64.flag-SG {background-position: -832px -768px;}
.flag64.flag-SH {background-position: -896px -768px;}
.flag64.flag-SI {background-position: 0 -832px;}
.flag64.flag-SJ {background-position: -64px -832px;}
.flag64.flag-SK {background-position: -128px -832px;}
.flag64.flag-SL {background-position: -192px -832px;}
.flag64.flag-SM {background-position: -256px -832px;}
.flag64.flag-SN {background-position: -320px -832px;}
.flag64.flag-SO {background-position: -384px -832px;}
.flag64.flag-SR {background-position: -448px -832px;}
.flag64.flag-SS {background-position: -512px -832px;}
.flag64.flag-ST {background-position: -576px -832px;}
.flag64.flag-SV {background-position: -640px -832px;}
.flag64.flag-SX {background-position: -704px -832px;}
.flag64.flag-SY {background-position: -768px -832px;}
.flag64.flag-SZ {background-position: -832px -832px;}
.flag64.flag-TC {background-position: -896px -832px;}
.flag64.flag-TD {background-position: 0 -896px;}
.flag64.flag-TG {background-position: -64px -896px;}
.flag64.flag-TH {background-position: -128px -896px;}
.flag64.flag-TJ {background-position: -192px -896px;}
.flag64.flag-TK {background-position: -256px -896px;}
.flag64.flag-TL {background-position: -320px -896px;}
.flag64.flag-TM {background-position: -384px -896px;}
.flag64.flag-TN {background-position: -448px -896px;}
.flag64.flag-TO {background-position: -512px -896px;}
.flag64.flag-TR {background-position: -576px -896px;}
.flag64.flag-TT {background-position: -640px -896px;}
.flag64.flag-TV {background-position: -704px -896px;}
.flag64.flag-TW {background-position: -768px -896px;}
.flag64.flag-TZ {background-position: -832px -896px;}
.flag64.flag-UA {background-position: -896px -896px;}
.flag64.flag-UG {background-position: -960px 0;}
.flag64.flag-US {background-position: -960px -64px;}
.flag64.flag-UY {background-position: -960px -128px;}
.flag64.flag-UZ {background-position: -960px -192px;}
.flag64.flag-VA {background-position: -960px -256px;}
.flag64.flag-VC {background-position: -960px -320px;}
.flag64.flag-VE {background-position: -960px -384px;}
.flag64.flag-VG {background-position: -960px -448px;}
.flag64.flag-VI {background-position: -960px -512px;}
.flag64.flag-VN {background-position: -960px -576px;}
.flag64.flag-VU {background-position: -960px -640px;}
.flag64.flag-WF {background-position: -960px -704px;}
.flag64.flag-WS {background-position: -960px -768px;}
.flag64.flag-XK {background-position: -960px -832px;}
.flag64.flag-YE {background-position: -960px -896px;}
.flag64.flag-YT {background-position: 0 -960px;}
.flag64.flag-ZA {background-position: -64px -960px;}
.flag64.flag-ZM {background-position: -128px -960px;}
.flag64.flag-ZW {background-position: -192px -960px;}

.flag128 {
    background-image: url('/assets/img/flags128.png');
    background-repeat: no-repeat;
    display: block;
	width: 128px;
    height: 128px;
    background-position: -512px -1920px;
}
.flag128.flag-AC {background-position: 0 0;}
.flag128.flag-AD {background-position: -128px 0;}
.flag128.flag-AE {background-position: -256px 0;}
.flag128.flag-AF {background-position: -384px 0;}
.flag128.flag-AG {background-position: -512px 0;}
.flag128.flag-AI {background-position: -640px 0;}
.flag128.flag-AL {background-position: -768px 0;}
.flag128.flag-AM {background-position: -896px 0;}
.flag128.flag-AO {background-position: -1024px 0;}
.flag128.flag-AQ {background-position: -1152px 0;}
.flag128.flag-AR {background-position: -1280px 0;}
.flag128.flag-AS {background-position: -1408px 0;}
.flag128.flag-AT {background-position: -1536px 0;}
.flag128.flag-AU {background-position: -1664px 0;}
.flag128.flag-AW {background-position: -1792px 0;}
.flag128.flag-AZ {background-position: 0 -128px;}
.flag128.flag-BA {background-position: -128px -128px;}
.flag128.flag-BB {background-position: -256px -128px;}
.flag128.flag-BD {background-position: -384px -128px;}
.flag128.flag-BE {background-position: -512px -128px;}
.flag128.flag-BF {background-position: -640px -128px;}
.flag128.flag-BG {background-position: -768px -128px;}
.flag128.flag-BH {background-position: -896px -128px;}
.flag128.flag-BI {background-position: -1024px -128px;}
.flag128.flag-BJ {background-position: -1152px -128px;}
.flag128.flag-BL {background-position: -1280px -128px;}
.flag128.flag-BM {background-position: -1408px -128px;}
.flag128.flag-BN {background-position: -1536px -128px;}
.flag128.flag-BO {background-position: -1664px -128px;}
.flag128.flag-BQ {background-position: -1792px -128px;}
.flag128.flag-BR {background-position: 0 -256px;}
.flag128.flag-BS {background-position: -128px -256px;}
.flag128.flag-BT {background-position: -256px -256px;}
.flag128.flag-BW {background-position: -384px -256px;}
.flag128.flag-BY {background-position: -512px -256px;}
.flag128.flag-BZ {background-position: -640px -256px;}
.flag128.flag-CA {background-position: -768px -256px;}
.flag128.flag-CC {background-position: -896px -256px;}
.flag128.flag-CD {background-position: -1024px -256px;}
.flag128.flag-CF {background-position: -1152px -256px;}
.flag128.flag-CG {background-position: -1280px -256px;}
.flag128.flag-CH {background-position: -1408px -256px;}
.flag128.flag-CI {background-position: -1536px -256px;}
.flag128.flag-CK {background-position: -1664px -256px;}
.flag128.flag-CL {background-position: -1792px -256px;}
.flag128.flag-CM {background-position: 0 -384px;}
.flag128.flag-CN {background-position: -128px -384px;}
.flag128.flag-CO {background-position: -256px -384px;}
.flag128.flag-CR {background-position: -384px -384px;}
.flag128.flag-CU {background-position: -512px -384px;}
.flag128.flag-CV {background-position: -640px -384px;}
.flag128.flag-CW {background-position: -768px -384px;}
.flag128.flag-CX {background-position: -896px -384px;}
.flag128.flag-CY {background-position: -1024px -384px;}
.flag128.flag-CZ {background-position: -1152px -384px;}
.flag128.flag-DE {background-position: -1280px -384px;}
.flag128.flag-DJ {background-position: -1408px -384px;}
.flag128.flag-DK {background-position: -1536px -384px;}
.flag128.flag-DM {background-position: -1664px -384px;}
.flag128.flag-DO {background-position: -1792px -384px;}
.flag128.flag-DZ {background-position: 0 -512px;}
.flag128.flag-EC {background-position: -128px -512px;}
.flag128.flag-EE {background-position: -256px -512px;}
.flag128.flag-EG {background-position: -384px -512px;}
.flag128.flag-EH {background-position: -512px -512px;}
.flag128.flag-ER {background-position: -640px -512px;}
.flag128.flag-ES {background-position: -768px -512px;}
.flag128.flag-ET {background-position: -896px -512px;}
.flag128.flag-FI {background-position: -1024px -512px;}
.flag128.flag-FJ {background-position: -1152px -512px;}
.flag128.flag-FK {background-position: -1280px -512px;}
.flag128.flag-FM {background-position: -1408px -512px;}
.flag128.flag-FO {background-position: -1536px -512px;}
.flag128.flag-FR {background-position: -1664px -512px;}
.flag128.flag-GA {background-position: -1792px -512px;}
.flag128.flag-GB {background-position: 0 -640px;}
.flag128.flag-GD {background-position: -128px -640px;}
.flag128.flag-GE {background-position: -256px -640px;}
.flag128.flag-GF {background-position: -384px -640px;}
.flag128.flag-GG {background-position: -512px -640px;}
.flag128.flag-GH {background-position: -640px -640px;}
.flag128.flag-GI {background-position: -768px -640px;}
.flag128.flag-GL {background-position: -896px -640px;}
.flag128.flag-GM {background-position: -1024px -640px;}
.flag128.flag-GN {background-position: -1152px -640px;}
.flag128.flag-GP {background-position: -1280px -640px;}
.flag128.flag-GQ {background-position: -1408px -640px;}
.flag128.flag-GR {background-position: -1536px -640px;}
.flag128.flag-GT {background-position: -1664px -640px;}
.flag128.flag-GU {background-position: -1792px -640px;}
.flag128.flag-GW {background-position: 0 -768px;}
.flag128.flag-GY {background-position: -128px -768px;}
.flag128.flag-HK {background-position: -256px -768px;}
.flag128.flag-HN {background-position: -384px -768px;}
.flag128.flag-HR {background-position: -512px -768px;}
.flag128.flag-HT {background-position: -640px -768px;}
.flag128.flag-HU {background-position: -768px -768px;}
.flag128.flag-ID {background-position: -896px -768px;}
.flag128.flag-IE {background-position: -1024px -768px;}
.flag128.flag-IL {background-position: -1152px -768px;}
.flag128.flag-IM {background-position: -1280px -768px;}
.flag128.flag-IN {background-position: -1408px -768px;}
.flag128.flag-IO {background-position: -1536px -768px;}
.flag128.flag-IQ {background-position: -1664px -768px;}
.flag128.flag-IR {background-position: -1792px -768px;}
.flag128.flag-IS {background-position: 0 -896px;}
.flag128.flag-IT {background-position: -128px -896px;}
.flag128.flag-JE {background-position: -256px -896px;}
.flag128.flag-JM {background-position: -384px -896px;}
.flag128.flag-JO {background-position: -512px -896px;}
.flag128.flag-JP {background-position: -640px -896px;}
.flag128.flag-KE {background-position: -768px -896px;}
.flag128.flag-KG {background-position: -896px -896px;}
.flag128.flag-KH {background-position: -1024px -896px;}
.flag128.flag-KI {background-position: -1152px -896px;}
.flag128.flag-KM {background-position: -1280px -896px;}
.flag128.flag-KN {background-position: -1408px -896px;}
.flag128.flag-KP {background-position: -1536px -896px;}
.flag128.flag-KR {background-position: -1664px -896px;}
.flag128.flag-KW {background-position: -1792px -896px;}
.flag128.flag-KY {background-position: 0 -1024px;}
.flag128.flag-KZ {background-position: -128px -1024px;}
.flag128.flag-LA {background-position: -256px -1024px;}
.flag128.flag-LB {background-position: -384px -1024px;}
.flag128.flag-LC {background-position: -512px -1024px;}
.flag128.flag-LI {background-position: -640px -1024px;}
.flag128.flag-LK {background-position: -768px -1024px;}
.flag128.flag-LR {background-position: -896px -1024px;}
.flag128.flag-LS {background-position: -1024px -1024px;}
.flag128.flag-LT {background-position: -1152px -1024px;}
.flag128.flag-LU {background-position: -1280px -1024px;}
.flag128.flag-LV {background-position: -1408px -1024px;}
.flag128.flag-LY {background-position: -1536px -1024px;}
.flag128.flag-MA {background-position: -1664px -1024px;}
.flag128.flag-MC {background-position: -1792px -1024px;}
.flag128.flag-MD {background-position: 0 -1152px;}
.flag128.flag-ME {background-position: -128px -1152px;}
.flag128.flag-MF {background-position: -256px -1152px;}
.flag128.flag-MG {background-position: -384px -1152px;}
.flag128.flag-MH {background-position: -512px -1152px;}
.flag128.flag-MK {background-position: -640px -1152px;}
.flag128.flag-ML {background-position: -768px -1152px;}
.flag128.flag-MM {background-position: -896px -1152px;}
.flag128.flag-MN {background-position: -1024px -1152px;}
.flag128.flag-MO {background-position: -1152px -1152px;}
.flag128.flag-MP {background-position: -1280px -1152px;}
.flag128.flag-MQ {background-position: -1408px -1152px;}
.flag128.flag-MR {background-position: -1536px -1152px;}
.flag128.flag-MS {background-position: -1664px -1152px;}
.flag128.flag-MT {background-position: -1792px -1152px;}
.flag128.flag-MU {background-position: 0 -1280px;}
.flag128.flag-MV {background-position: -128px -1280px;}
.flag128.flag-MW {background-position: -256px -1280px;}
.flag128.flag-MX {background-position: -384px -1280px;}
.flag128.flag-MY {background-position: -512px -1280px;}
.flag128.flag-MZ {background-position: -640px -1280px;}
.flag128.flag-NA {background-position: -768px -1280px;}
.flag128.flag-NC {background-position: -896px -1280px;}
.flag128.flag-NE {background-position: -1024px -1280px;}
.flag128.flag-NG {background-position: -1152px -1280px;}
.flag128.flag-NI {background-position: -1280px -1280px;}
.flag128.flag-NL {background-position: -1408px -1280px;}
.flag128.flag-NO {background-position: -1536px -1280px;}
.flag128.flag-NP {background-position: -1664px -1280px;}
.flag128.flag-NR {background-position: -1792px -1280px;}
.flag128.flag-NU {background-position: 0 -1408px;}
.flag128.flag-NZ {background-position: -128px -1408px;}
.flag128.flag-OM {background-position: -256px -1408px;}
.flag128.flag-PA {background-position: -384px -1408px;}
.flag128.flag-PE {background-position: -512px -1408px;}
.flag128.flag-PF {background-position: -640px -1408px;}
.flag128.flag-PG {background-position: -768px -1408px;}
.flag128.flag-PH {background-position: -896px -1408px;}
.flag128.flag-PK {background-position: -1024px -1408px;}
.flag128.flag-PL {background-position: -1152px -1408px;}
.flag128.flag-PM {background-position: -1280px -1408px;}
.flag128.flag-PN {background-position: -1408px -1408px;}
.flag128.flag-PR {background-position: -1536px -1408px;}
.flag128.flag-PS {background-position: -1664px -1408px;}
.flag128.flag-PT {background-position: -1792px -1408px;}
.flag128.flag-PW {background-position: 0 -1536px;}
.flag128.flag-PY {background-position: -128px -1536px;}
.flag128.flag-QA {background-position: -256px -1536px;}
.flag128.flag-RE {background-position: -384px -1536px;}
.flag128.flag-RO {background-position: -512px -1536px;}
.flag128.flag-RS {background-position: -640px -1536px;}
.flag128.flag-RU {background-position: -768px -1536px;}
.flag128.flag-RW {background-position: -896px -1536px;}
.flag128.flag-SA {background-position: -1024px -1536px;}
.flag128.flag-SB {background-position: -1152px -1536px;}
.flag128.flag-SC {background-position: -1280px -1536px;}
.flag128.flag-SD {background-position: -1408px -1536px;}
.flag128.flag-SE {background-position: -1536px -1536px;}
.flag128.flag-SG {background-position: -1664px -1536px;}
.flag128.flag-SH {background-position: -1792px -1536px;}
.flag128.flag-SI {background-position: 0 -1664px;}
.flag128.flag-SJ {background-position: -128px -1664px;}
.flag128.flag-SK {background-position: -256px -1664px;}
.flag128.flag-SL {background-position: -384px -1664px;}
.flag128.flag-SM {background-position: -512px -1664px;}
.flag128.flag-SN {background-position: -640px -1664px;}
.flag128.flag-SO {background-position: -768px -1664px;}
.flag128.flag-SR {background-position: -896px -1664px;}
.flag128.flag-SS {background-position: -1024px -1664px;}
.flag128.flag-ST {background-position: -1152px -1664px;}
.flag128.flag-SV {background-position: -1280px -1664px;}
.flag128.flag-SX {background-position: -1408px -1664px;}
.flag128.flag-SY {background-position: -1536px -1664px;}
.flag128.flag-SZ {background-position: -1664px -1664px;}
.flag128.flag-TC {background-position: -1792px -1664px;}
.flag128.flag-TD {background-position: 0 -1792px;}
.flag128.flag-TG {background-position: -128px -1792px;}
.flag128.flag-TH {background-position: -256px -1792px;}
.flag128.flag-TJ {background-position: -384px -1792px;}
.flag128.flag-TK {background-position: -512px -1792px;}
.flag128.flag-TL {background-position: -640px -1792px;}
.flag128.flag-TM {background-position: -768px -1792px;}
.flag128.flag-TN {background-position: -896px -1792px;}
.flag128.flag-TO {background-position: -1024px -1792px;}
.flag128.flag-TR {background-position: -1152px -1792px;}
.flag128.flag-TT {background-position: -1280px -1792px;}
.flag128.flag-TV {background-position: -1408px -1792px;}
.flag128.flag-TW {background-position: -1536px -1792px;}
.flag128.flag-TZ {background-position: -1664px -1792px;}
.flag128.flag-UA {background-position: -1792px -1792px;}
.flag128.flag-UG {background-position: -1920px 0;}
.flag128.flag-US {background-position: -1920px -128px;}
.flag128.flag-UY {background-position: -1920px -256px;}
.flag128.flag-UZ {background-position: -1920px -384px;}
.flag128.flag-VA {background-position: -1920px -512px;}
.flag128.flag-VC {background-position: -1920px -640px;}
.flag128.flag-VE {background-position: -1920px -768px;}
.flag128.flag-VG {background-position: -1920px -896px;}
.flag128.flag-VI {background-position: -1920px -1024px;}
.flag128.flag-VN {background-position: -1920px -1152px;}
.flag128.flag-VU {background-position: -1920px -1280px;}
.flag128.flag-WF {background-position: -1920px -1408px;}
.flag128.flag-WS {background-position: -1920px -1536px;}
.flag128.flag-XK {background-position: -1920px -1664px;}
.flag128.flag-YE {background-position: -1920px -1792px;}
.flag128.flag-YT {background-position: 0 -1920px;}
.flag128.flag-ZA {background-position: -128px -1920px;}
.flag128.flag-ZM {background-position: -256px -1920px;}
.flag128.flag-ZW {background-position: -384px -1920px;}