.page.home {
	.head {
		@extend .d-flex;
		@extend .flex-column;
		@extend .align-items-center;

		.h1 {
			margin-bottom: 1px;
		}

		.small-text {
			@extend .p-2;

			margin-bottom: 1px;
		}

		.btn-group {
			@extend .d-flex;
			@extend .flex-row;

			.btn {
				@extend .p-2;
				background-color: $blurple;
				color: white;
				border: none;
				outline: none;
				box-shadow: none;
			}
			.btn.active, .btn:hover, .btn:focus, .btn:active {
				background-color: $blurpleDark;
			}
		}
	}
}